body {
	background: #ECF5FF;
}

#one{text-align: center;}






.q1{font-family: ;
	height: ;
	width:50%;
	background:#ECF5FF;
	color: #;
	float: left;
	box-sizing: border-box; 
	text-align: center;
	padding: 36px;}

.q2 {font-family: ;
	height:605px ;
	width:50%;
	background:#ECF5FF;
	color: #;
	float: left;
	box-sizing: border-box;
	
	text-align: center;
	padding: 36px;


}